<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>871771227576-7sptc5e8a427hl5rfi9mf70bn1efdimm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.871771227576-7sptc5e8a427hl5rfi9mf70bn1efdimm</string>
	<key>API_KEY</key>
	<string>AIzaSyAshSzqXv53hmKKkvQUb_07_i_XxVV0YUE</string>
	<key>GCM_SENDER_ID</key>
	<string>871771227576</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.skripsi.KangSayurSkripsiVenus</string>
	<key>PROJECT_ID</key>
	<string>kangsayur-venus</string>
	<key>STORAGE_BUCKET</key>
	<string>kangsayur-venus.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:871771227576:ios:a286ce95ad62ac1554bb4d</string>
</dict>
</plist>